# Default ignored files

/workspace.xml
/.idea/*
/__pycache__/*

/settings/personal_data.py
settings/personal_data.py


/settings/__init__.py
/base/__init__.py
/handlers/__init__.py
/org_commands/__init__.py
/algorythms/__init__.py

/settings/__pycache__/**.pyc
/base/__pycache__/**.pyc
/handlers/__pycache__/**.pyc
/org_commands/__pycache__/**.pyc
/part_commands/__pycache__/**.pyc
/algorythms/__pycache__/**.pyc

/base/database.vdb


