# Default ignored files
/workspace.xml
/.idea/*
/__pycache__/*
/settings/__init__.py

/database/__init__.py

/handlers/__init__.py

/settings/__pycache__/*
*.pyc

/database/__pycache__/*
*.pyc

/handlers/__pycache__/*
*.pyc
